dash==0.34.0
dash-core-components==0.31.0
dash-html-components==0.13.2
dash-renderer==0.14.1
decorator==4.3.0
Flask==1.0.2
Flask-Compress==1.4.0
gunicorn==19.9.0
idna==2.7
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
MarkupSafe==1.0
nbformat==4.4.0
nbserverproxy
pandas==0.24.*
plotly==3.3.0
traitlets==4.3.2
Werkzeug==0.14.1